<div class="panel panel-default">
  <div class="panel-heading">
    <h3 class="panel-title">Crypto Currency Lookup</h3>
  </div>
  <div class="panel-body">
    <div class="form-group">
        <%= form_tag home_lookup_path, :method => 'POST' do %>
            <%= text_field_tag 'sym', nil, placeholder: 'Enter Crypto Symbol', size: 50, class: "form-control"  %>
            <br/><%= submit_tag 'Lookup Stock Quote' , class: "btn btn-primary"%>
        <% end %>
    </div>
  </div>
</div>
<br/><br/>




<% if @symbol  %>
    <% for coin in @lookup_coins %>
        
        <% if coin["symbol"] == @symbol%>
            <%= coin["name"] %><br/>
            <%= coin["symbol"] %><br/>
            $<%= coin["current_price"] %>
        <% end %>
    <% end %>
<% end %>



